body {
    margin: 0;
    background: #fff6f6 ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Afacad Flux';
}

img {
    width: 100%;
}
  
h1 {
    color: white; 
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.firstPart {
    background: #be4343;
    width: 90%;
    border-radius: 20px;
    margin-top: 40px;
}

form {
    margin-bottom: 20px;
}
  
#stickerForm {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}
  
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 95%;
}
  
.form-input {
    font-family: 'Afacad flux';
    padding: 10px;
    margin: 0 5px;
    width: 30%; 
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
   
#stickerForm button {
    font-family: 'Afacad flux';
    background-color: #590000;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px; 
    cursor: pointer;
    width: auto; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#stickerForm button:active {
    background-color: #450000;
}
    
#stickersList {
    display: block; /* On change pour un affichage en bloc pour gérer les sections de collection */
    margin: 20px;
  }
  
.collection-section {
    margin-bottom: 30px; /* Espace entre chaque collection */
}
  
.collection-title {
    font-size: 1.5rem;
    margin-bottom: 25px;
    text-align: center;
    color: #590000;
    text-shadow: none;
}
  
.sticker-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  

h2 {
    color: #be4343;
    font-size: 35px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-owner {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
  
.dropdown-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
  
.owner-label {
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #590000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
.button-name {
    background-color: #be4343;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    font-family: 'Afacad flux';
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}  
  
.sticker {
    border-radius: 15px;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.sticker.show {
    opacity: 1;
    transform: translateY(0);
}

.sticker img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.sticker h3 {
    font-size: 0.9em;
    margin: 5px 0;
    color: #be4343;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker p {
    font-size: 0.7em;
    color: #666;
    margin: 0 0 10px 0;
}

.sticker button {
    background-color: #be4343;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    font-size: 13px;
    font-family: 'Afacad Flux';
}

.sticker button:active {
    background-color: #590000;
}

.sticker-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    font-weight: bold;
    z-index: 2;
    font-size: 0.8em;
}

/* Styles pour la modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff6f6;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.modal.hide .modal-content {
    transform: translateY(-100%);
    opacity: 0;
}

.close-button {
    color: black;
    float: right;
    font-size: 24px;
}

.modal .button-no,
.modal .button-yes {
    width: 45px; 
    margin: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Afacad Flux';
    text-align: center; 
}

.modal .button-no {
    background: #fff6f6;
    border: 1px solid #be4343;
    color: #be4343;
}

.modal .button-no:active {
    background: #ffe4e4;
}

.modal .button-yes {
    background: #be4343;
    border: none;
    color: white;
}

.modal .button-yes:active {
    background-color: #590000;
}

#backToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 5;
    background-color: #590000;
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 13px;
    cursor: pointer;
    font-size: 20px;
    display: none; 
    transition: opacity 0.3s;
}
footer {
    margin-top: 40px;
}